.content-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.comment-area {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.comment-btn {
  margin: 0px 10px;
}
