.comment .mat-list-item {
  cursor: default;
  padding: 10px 0px;
  overflow-x: auto;
  height: auto;
  border-top: 2px solid whitesmoke;

  &:hover {
    background-color: whitesmoke;
  }
}

.last-comment .mat-list-item {
  border-bottom: 2px solid whitesmoke;
}

.container {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px;
  margin-left: 10px;
}

.header-container {
  display: flex;
  align-items: center;
}

.timestamp {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 4px;
  white-space: nowrap;
}

.username {
  cursor: pointer;
  margin-bottom: 0;
  margin-right: 4px;
  font-weight: 500;
}

.content {
  margin-bottom: 0;
}

.user-icon {
  cursor: pointer;
}
