<div class="comment">
  <mat-list-item disableRipple>
    <img
      matListAvatar
      class="list-item-icon"
      [src]="this.coreService.getUserImage(this.comment.userId)"
      onerror="this.src='../../../../assets/placeholder.png';"
      alt="user"
    />
    <div class="container">
      <div class="header-container">
        <p class="username">{{ comment.username }}</p>
        <p class="timestamp">{{ comment.modified }}</p>
      </div>

      <h3 class="content">{{ comment.content }}</h3>
    </div>
  </mat-list-item>
</div>
