<div class="comment">
  <mat-list-item>
    <img
      [routerLink]="['/user/', comment.userId]"
      matListAvatar
      class="user-icon"
      [src]="this.coreService.getUserImage(this.comment.userId)"
      onerror="this.src='../../../../assets/placeholder.png';"
      alt="user"
    />
    <div class="container">
      <div class="content-container">
        <div class="header-container">
          <p class="username" [routerLink]="['/user/', comment.userId]">
            {{ comment.username }}
          </p>
          <p class="timestamp">{{ comment.modified }}</p>
        </div>

        <h3 class="content">{{ comment.content }}</h3>
      </div>
      <span class="spacer"></span>
      <!-- 
        If comment is created by logged in user or user is admin, show tool menu.
        If comment is deleted from tool menu, emit event to parent component.
      -->
      <app-tool-menu
        *ngIf="createdByUser || this.authService.isAdmin()"
        [comment]="comment"
        (deletedComment)="this.deletedComment.emit($event)"
      ></app-tool-menu>
    </div>
  </mat-list-item>
</div>
