.content-container {
  padding: 12px 20px 0px;
  display: flex;
  flex-direction: column;
}

.text-area {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.input-btn {
  margin: 0px 10px;
}
