<div class="list-item">
  <mat-list-item disableRipple="true" [routerLink]="['/post/', entity._id]">
    <img
      matListAvatar
      id="list-item-icon"
      src="../../../../assets/placeholder.png"
      alt="user"
    />

    <div class="container">
      <div class="content-container">
        <div class="header-container">
          <p mat-line class="username">{{ entity.username }}</p>
          <p class="timestamp">{{ entity.modified }}</p>
        </div>
        <h3 class="content">{{ entity.title }}</h3>
      </div>
      <span class="spacer"></span>
      <app-vote
        *ngIf="!(isHandset$ | async)"
        [likes]="entity.likes"
        [dislikes]="entity.dislikes"
      ></app-vote>
    </div>
  </mat-list-item>
</div>
