.list-item .mat-list-item {
  border-bottom: solid 2px whitesmoke;
  padding: 12px 0px;
}

.container {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px;
  margin-left: 10px;
}

.header-container {
  display: flex;
  align-items: center;
}

.timestamp {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 4px;
}

.username {
  margin-bottom: 0;
  margin-right: 4px;
  font-weight: 500;
}

.content {
  margin-bottom: 0;
}
