.layout-container {
  padding: 30px;
}

.back-btn {
  margin-left: -8px;
}

.title {
  margin-top: 4px;
}

.mat-stepper-vertical {
  margin-top: 8x;
}

.mat-form-field {
  margin-top: 16px;
}

.stepper-btn {
  margin-top: 8px;
}

.auto-text-area {
  width: 80%;
}

.text-area-layout {
  display: flex;
  flex-direction: column;
}
