.close-btn {
  margin-left: -8px;

  @media only screen and (max-width: 600px) {
    margin-top: 20px;
  }
}

.header-container {
  margin: 10px 0px;
}

.header {
  text-align: center;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  width: 80%;
  padding-top: 10px;
}

input {
  font-size: 16px;
  background: none;
}

.visibility-button {
  font-size: 20px !important;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.register-link {
  margin-top: 25px;
}

.file-input {
  margin-bottom: 35px;
  margin-left: 40px;
}
