<div *ngIf="!(isHandset$ | async)" class="btn-container">
  <button mat-icon-button (click)="this.edit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="this.delete()">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<button
  *ngIf="isHandset$ | async"
  mat-icon-button
  [matMenuTriggerFor]="toolMenu"
>
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #toolMenu="matMenu">
  <button mat-menu-item (click)="this.edit()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="this.delete()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
