.entity-container {
  padding: 0px 30px 20px;
}

.entity-header {
  margin-bottom: 0px;
}

.entity-subheaders {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  flex: 1 1 auto;
  margin: 14px 30px 6px 0px;
}

.code-content {
  flex: 1 1 auto;
  margin: 0px 30px 10px 0px;
}

pre {
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.comment-header-container {
  display: flex;
  align-items: center;
}

.comment-container {
  height: 500px;
  padding: 0px 14px;
}

.comment-header {
  margin: 20px;
}

app-vote {
  margin-bottom: 12px;
}

.back-btn {
  margin-left: -12px;
}

.comment-btn {
  margin-right: 25px;
}

.user-container {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.timestamp {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 2px;
}

.username {
  margin: 0px 6px;
  font-weight: 500;
}

.tool-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px 0px;
}
