<ng-template #loading>
  <mat-spinner color="accent" class="loading-spinner"></mat-spinner>
</ng-template>

<ng-container *ngIf="(this.loading$ | async) === false; else loading">
  <div class="tool-container">
    <button mat-icon-button class="back-btn" routerLink="/">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span class="spacer"></span>
    <!-- If entity is created by the logged in user or user is admin, show tool menu. If entity is deleted, app will navigate back to front page -->
    <app-tool-menu
      *ngIf="createdByUser || this.authService.isAdmin()"
      [entity]="entity"
    ></app-tool-menu>
  </div>
  <div class="entity-container">
    <div class="entity-headers">
      <h2 class="entity-header">{{ this.entity.title }}</h2>
      <div class="entity-subheaders">
        <div class="user-container">
          <img
            matListAvatar
            class="user-icon"
            [src]="this.coreService.getUserImage(this.entity.userId)"
            onerror="this.src='../../../../assets/placeholder.png';"
            alt="user"
            [routerLink]="['/user/', entity.userId]"
          />
          <p class="username" [routerLink]="['/user/', entity.userId]">
            {{ this.entity.username }}
          </p>
          <p class="timestamp">{{ this.entity.modified }}</p>
        </div>
        <span class="spacer"></span>
        <app-vote [entity]="entity"></app-vote>
      </div>
    </div>
    <div class="content-container">
      <div class="text-content">
        <p>
          {{ this.entity.content }}
        </p>
      </div>
      <div>
        <pre><code class="code-content" [highlight]="this.entity.codeSnippet"></code></pre>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="comment-container">
    <div class="comment-header-container">
      <h2 class="comment-header">
        {{ this.entity.comments?.length }} comments
      </h2>
      <span class="spacer"></span>
      <button
        mat-flat-button
        color="accent"
        class="comment-btn"
        (click)="this.coreService.openTakeInput('', 'comment', 'add')"
      >
        Add comment
      </button>
    </div>
    <!-- Create list from all the comments under entity. If comment is deleted, update comments -->
    <mat-list>
      <app-comment
        *ngFor="let comment of this.comments; let lastComment = last"
        [comment]="comment"
        [lastComment]="lastComment"
        (deletedComment)="this.updateComments($event, true)"
      ></app-comment>
    </mat-list>
  </div>
</ng-container>
