.entity-headers {
  margin: 20px;
  margin-bottom: 0px;
}

.entity-subheaders {
  display: flex;
}

.text-content {
  flex: 1 1 auto;
  margin: 20px 30px 0px;
}

.code-content {
  flex: 1 1 auto;
  margin: 20px 30px 0px;
}

.content-container {
  display: flex;
}

.content-container-mobile {
  display: flex;
  flex-direction: column;
}

.view-spacer {
  width: 100%;
  height: 20px;
}

.comment-container {
  height: 500px;
}

.comment-header {
  margin: 20px;
}
