.mat-toolbar .mat-primary {
  overflow: hidden;
}

.user-container {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  color: #ff9800;
}

.user-icon-btn {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.sign-in-text {
  display: block;
  margin: auto;
  font-size: 16px;
}

.main-content-layout {
  overflow-y: auto;
  overflow-x: hidden;
  // 100% height - navigation bar
  height: calc(100% - 64px);
  @media only screen and (max-width: 600px) {
    height: calc(100% - 56px);
  }
}
