<mat-toolbar color="primary">
  <button mat-icon-button class="nav-icon logo" routerLink="/">
    <mat-icon>dashboard</mat-icon>
  </button>
  <span class="header">My App</span>
  <span class="nav-spacer"></span>
  <button
    *ngIf="this.authService.isLoggedIn()"
    class="user-icon-btn"
    (click)="this.authService.logout()"
  >
    <img
      class="user-icon"
      [src]="this.coreService.getUserImage(this.userId)"
      onerror="this.src='../../../../assets/placeholder.png';"
      alt="user"
    />
  </button>
  <button
    *ngIf="!this.authService.isLoggedIn()"
    mat-icon-button
    class="nav-icon"
    (click)="this.coreService.openLogin()"
  >
    <span class="material-icons">login</span>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
