<mat-toolbar color="primary">
  <span class="header">My App</span>
  <span class="nav-spacer"></span>
  <button
    mat-icon-button
    class="nav-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    *ngIf="this.authService.isLoggedIn()"
    mat-icon-button
    class="nav-icon"
    aria-label="Example icon-button with share icon"
    (click)="this.authService.logout()"
  >
    <mat-icon> account_circle </mat-icon>
  </button>
  <button
    *ngIf="!this.authService.isLoggedIn()"
    mat-icon-button
    class="nav-icon"
    aria-label="Example icon-button with share icon"
    (click)="openLogin()"
  >
    <mat-icon> vpn_key </mat-icon>
  </button>
</mat-toolbar>

<app-dashboard></app-dashboard>
