.user-container {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  color: #ff9800;
}

.user-icon-btn {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.sign-in-text {
  display: block;
  margin: auto;
  font-size: 16px;
}
