<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button class="nav-icon logo" routerLink="/">
    <mat-icon>code</mat-icon>
  </button>
  <span class="header">Rate my code</span>
  <span class="spacer"></span>

  <!-- Show user's image and user menu if user is logged in -->
  <div *ngIf="this.authService.isLoggedIn()" class="user-container">
    <img
      class="user-icon"
      [src]="this.coreService.getUserImage(this.authService.getUserId())"
      onerror="this.src='../../../../assets/placeholder.png';"
      alt="user"
    />
    <button
      class="user-icon-btn"
      mat-icon-button
      [matMenuTriggerFor]="userMenu"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <!-- Show sign in text and icon if user is not logged in -->
  <div *ngIf="!this.authService.isLoggedIn()" class="user-container">
    <span class="sign-in-text">Sign in</span>
    <button
      mat-icon-button
      class="nav-icon"
      (click)="this.coreService.openLogin()"
    >
      <span class="material-icons">login</span>
    </button>
  </div>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="['/user/', this.authService.getUserId()]">
    <span>View profile</span>
  </button>
  <button mat-menu-item (click)="this.logout()">
    <span>Log out</span>
  </button>
</mat-menu>

<!-- Router-outlet that keeps inside all the entity related content -->
<div class="main-content-layout">
  <router-outlet></router-outlet>
</div>
