<ng-template #loading>
  <mat-spinner color="accent" class="loading-spinner"></mat-spinner>
</ng-template>

<ng-container *ngIf="(this.loading$ | async) === false; else loading">
  <div class="dashboard-container">
    <div class="header-container">
      <h2 class="header">All code snippets</h2>
      <span class="spacer"></span>
      <button
        mat-flat-button
        color="accent"
        class="create-btn"
        (click)="this.coreService.openCreateEntity()"
      >
        Create
      </button>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <app-entity
        [entity]="ent"
        *ngFor="let ent of this.entityList"
      ></app-entity>
    </mat-nav-list>
  </div>
</ng-container>
