.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;

  // background-color: #757575;

  // Viewport height - navigation bar
  height: calc(100vh - 64px);
  @media only screen and (max-width: 600px) {
    height: calc(100vh - 56px);
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding: 6px;
}

.header {
  margin-left: 20px;
  margin-top: 20px;
}

.create-btn {
  margin-right: 25px;
}

mat-nav-list {
  padding: 0px;
}
