.vote-container {
  display: flex;
}

.vote-item {
  display: flex;
  align-items: center;
  padding: 4px;
}

.not-voted-icon {
  color: gray;
}

.liked-icon {
  color: green;
}

.disliked-icon {
  color: red;
}
